name: Sync Downstream Repo

on:
  pull_request:
    types: [closed]

jobs:
  sync:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags

      - name: Push to downstream
        env:
          DOWNSTREAM_URL: https://github.com/PMW-robot/downstream-sync-fork
        run: |
          git remote add downstream ${DOWNSTREAM_URL}
          git fetch downstream
          git merge downstream/main
          git push downstream